{
   "singleQuote": false,
   "jsxSingleQuote": false,
   "bracketSpacing": true,
   "printWidth": 100,
   "tabWidth": 2,
   "useTabs": true,
   "semi": false,
   "arrowParens": "avoid",
   "trailingComma": "es5"
 }